.el-loading-spinner .path {
  stroke: #f80;
}
.el-select .el-input.is-focus .el-input__inner{
  border-color: #F28C18;
}
.el-select .el-input__inner:focus{
  border-color: #F28C18;
}
.el-select-dropdown__item.selected{
  color: #F28C18;
}
.el-table__header .has-gutter tr th{
  background-color: #F5F6F7;
}
.el-table--small td{
  padding: 16px 0;
}
.el-table .descending .sort-caret.descending{
  border-top-color: #F28C18;
}
.el-table .ascending .sort-caret.ascending{
  border-bottom-color: #F28C18;
}

/* team */
.team .el-dialog__body {
  padding: 20px 1px;
}

/* mytest */

.mytest .el-table .tableRow:hover {
  background:#fff;
  border-collapse: collapse;
  /* box-shadow:5px 5px 5px 5px rgba(247,151,39,1); */
  box-shadow: 0 0 10px rgba(247,151,39,1);
  border:1px solid #ccc;
}
.mytest .el-table .tableRow:hover td {
  background-color: initial !important;
}